body{
	margin: 0;
	padding: 0;
}

h1{
	font-size: 5em;
	padding-top: 100px;
	color: #ffffff;

}

h1 b{
	color: #117c0f;
	font-size: 5em;
	padding-top: 100px;
}

h2{
	font-size: 1.0em;
	margin-left: 12%;
	margin-right: 12%;
	color: #ffffff;
	text-align: center;
}

h3{
	font-size: 1.8em;
	color: #ffffff;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 40px;
	width: 80%;

}

nav{
	margin-top: 40px;
	display: flex;
	margin-right: 5%;
	margin-left: 5%;
	width: 90%;
}

nav div{
	text-align: center;
}

nav div p{
	font-size: 3em;
	color: #117c0f;
	margin-top: 0;
	padding-top: 0;
}

nav div img{
	width: 20%;
}

a{
	text-decoration: none;
}

.div1{
	background-image: url(images/bg.png);
}



.btn1{
	width: 20%;
	background-color: #117c0f;
	color: black;
	margin-right: 16%;
	margin-left: 64%;
	height: 40px;
	font-size: 1em;
	margin-bottom: 40px;
}

.container{
	display: flex;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 100px;
}

.logo{
	width: 40%;
}

.container2{
	display: flex;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5px;
	
}

.box1{
	flex: 1;
	background-color: #117c0f;
}

.box2{
	flex: 2;
}
.box3{
	flex: 2;
	background-color: #117c0f;
}

.box4{
	flex: 1;
}


.imgTime{
	width: 100%;
}